<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.air_stories">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/air_stories_round"
        android:label="Air Stories"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Airstories">

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DescriptionShortActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".DescriptionStoryActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".ShortReadingActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".WritingShortActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".UserStoriesActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".StoryReadingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".ShortStoryInfoEditingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".ShortStoryEditingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".StoryInfoEditingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".StoryChaptersActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".ChapterEditActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".ShortCommentsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

            <activity
                android:name=".StoryCommentsActivity"
                android:windowSoftInputMode="stateVisible|adjustResize"
                android:theme="@style/Theme.Airstories.NoActionBar">
            </activity>

        <activity
            android:name=".ChapterWritingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".WritingStoryActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".ChaptersActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".JournalsActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".JournalWritingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".EditProfileActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".JournalReadingActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".RecommendUsersActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>


        <activity
            android:name=".RecommendationsActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

        <activity
            android:name=".ReportActivity"
            android:theme="@style/Theme.Airstories.NoActionBar">
        </activity>

    </application>

</manifest>